body {
    background-image: url(assets/bg\ \(1\).png);
    display: flex;
    height: 850px;
    align-items: center;
    justify-content: center;
}

.mitte {
    position: relative;
}

.felder input {
    position: absolute;
}

.Name {
    top: 150px;
    left: 80px;
}

.inhalt {
    position: absolute;
    top: 100px;
    left: 55px;
    color: white;
}

.nachricht {
    padding: 20px;
}

h2 {
    position: absolute;
    color: white;
    top: 30px;
    left: 55px;
}
